<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :team_name, label: 'School', required: true, autofocus: true, :collection => 
["Alameda Community Learning Center",
"Albany",
"ARISE",
"Arroyo",
"Aspire Cal Prep",
"Bishop O'Dowd",
"Coliseum College Prep Academy",
"De Anza",
"El Cerrito",
"Encinal",
"Hayward",
"Hercules",
"Leadership Public Schools Richmond",
"Lighthouse Community Charter High School",
"Madison Park Academy",
"Middle College High School",
"Miramonte",
"Oakland High",
"Oakland School for the Arts",
"Oakland Technical",
"Pinole Valley",
"REALM Charter High School",
"Salesian College Preparatory",
"Skyline High School",
"Testing",
"School_Testing"] %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
