<div class = 'page-header'>
<h1> 
<%= @user.team_name%>'s Worksessionns </h1>
</div>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <table style="width:100%" class = 'table-striped'>
      <thead class="thead-inverse">
    <tr>

        <th>Date</th>
        <th>Begin Time</th> 
        <th>End Time</th>
        <th>Date Signed Up</th>
      </tr>
    </thead>
    <% @worksessions = @worksessions.sort_by{|a| a.begin_at.to_i} %>
    <% @worksessions.each do |worksession| %>
      <% if worksession.users.include?(@user) %>
      <tr>
        <td><%= worksession.date.strftime("%m/%d/%Y") %></td>
        <td><%= worksession.begin_at.strftime("%I:%M %P") %></td> 
        <td><%= worksession.end_at.strftime("%I:%M %P")%></td>
        <td><%= worksession.bookings.where(user_id: @user.id).take!.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
       <% end %>
    <% end %>
    </table>

   
  </tbody>
</table>




<% 
=begin 
%>
<div id="eventContent" title="Event Details">
    <div id="eventInfo"></div>
      <span id="startTime"></span><br>
<p><strong><a id="cancel" href=""></a>
</div>

<div id="signed_up_calendar"> </div>



<p id="notice"><%= notice %></p>            
<% if @user.admin? %>
  <h1 class = "center">Listing Future Worksessions</h1>
<% else %>
  <h1 class = "center">Listing <%=@user.team_name%>'s Future Worksessions</h1>
<%end%>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <table style="width:100%" class = 'table-striped'>
    <tr>
        <th>Date</th>
        <th>Begin Time</th> 
        <th>End Time</th>
        <th>Notes</th>
        <% if @user.admin?%>
          <th>Edit</th>
          <th>Destroy</th>
        <% else %>
          <th>Cancel</th>
        <% end %> 
      </tr>
    <% @worksessions = @worksessions.sort_by{|a| a.begin_at.to_i} %>
    <% @worksessions.each do |worksession| %>
      <% if (@user.worksessions.include? worksession or @user.admin) and worksession.end_at > @today%>
      <tr>
        <td><%= worksession.date.in_time_zone.strftime("%m/%d/%Y") %></td>
        <td><%= worksession.begin_at.in_time_zone.strftime("%I:%M %P") %></td> 
        <td><%= worksession.end_at.in_time_zone.strftime("%I:%M %P")%></td>

        <td><%= worksession.notes %></td>
        <% if @user.admin %>
        <td><%= link_to 'Edit', edit_worksession_path(worksession), class: 'btn btn-default btn-sm' %></td>
          <td><%= link_to 'Destroy', worksession_path(worksession), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %></td>
        <% else %>
          <td><%= link_to 'Cancel', cancel_path(worksession, user_id: @user), class: 'btn btn-default btn-sm' %></td>
        <% end %>
      </tr>
       <% end %>
    <% end %>
    </table>
      <h1 class = "center">Listing Previous Worksessions</h1>
      <table style="width:100%" class = 'table-striped'>
      <tr>
        <th>Date</th>
        <th>Begin Time</th> 
        <th>End Time</th>
        <th>Notes</th>
      </tr>
    <% @worksessions = @worksessions.sort_by{|a| a.begin_at.to_i} %>
    <% @worksessions.each do |worksession| %>
      <% if (@user.worksessions.include? worksession or @user.admin) and worksession.end_at <= @today %>
        <tr>
        <td><%= worksession.date.strftime("%m/%d/%Y") %></td>
        <td><%= worksession.begin_at.strftime("%I:%M %P") %></td> 
        <td><%= worksession.end_at.strftime("%I:%M %P")%></td>

        <td><%= worksession.notes %></td>


          </tr>
          <% end %>
        <% end %>
      </table>
        </tbody>


<% if @user.admin %>
  <%= link_to 'New Worksession', new_user_worksession_path(@user) %>
<% end %>
<%
=end
%> 