<!DOCTYPE html>
<html>
<head>
  <title>WorksessionWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<%= nav_bar :fixed => :top do %>
	<%= menu_group do %>
		<%= render 'devise/menu/login_items' %>
		<%= render 'devise/menu/registration_items' %>
		<%= menu_item "View All Worksessions", worksessions_view_path %>
		<% if user_signed_in? %>
			<% if current_user.admin? %>
			    <%= menu_item "All Worksessions", authenticated_root_path %>
			    <%= menu_item "Teams", users_path%>
			<% else %>
				<%= menu_group do %>
					<%# <%= menu_item "Your Worksessions", authenticated_root_path %> 
			    	<%= menu_item "All Worksessions", available_path%>
			    <% end %>
			<% end %>
	    <% end %>
    <% end %>
<% end %>

<% if not current_user.nil? %>
<div> Welcome <%= current_user.team_name %> </div>
<%end%>
<body>
<%= yield %>
</body>
</html>
